# Django and core dependencies
Django==5.1.4
django-auto-logout==0.5.1
django-crispy-forms==2.3
django-environ==0.12.0
django-formtools==2.5.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-recaptcha==4.0.0
django-two-factor-auth==1.17.0
sqlparse==0.5.3

# Authentication and Security
cryptography==44.0.0
python-dotenv==1.0.1
qrcode==7.4.2
phonenumbers==8.13.53

# Crispy Forms (Bootstrap support)
crispy-bootstrap5==2024.10

# Database (for PostgreSQL, remove if using SQLite)
psycopg2-binary==2.9.10

# Utility libraries
requests==2.32.3
pytz==2025.1
urllib3==2.3.0

# Optional linting & formatting (for development only)
flake8==3.8.4
isort==5.13.2
autopep8==1.5.5
black==23.7.0
