{% extends "secureapp/base.html" %}

{% block content %}
<div class="form-container">
    <div class="form-header">
        Forgot your password?
    </div>

    <p>Enter your email address below, and we will send you instructions to reset your password.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.email.label_tag }}  <!-- Label for the email field -->
        {{ form.email }}  <!-- Input field for email -->

        <button type="submit">Send Reset Link</button>
    </form>

    <p>If the email is registered, you will receive password reset instructions.</p>

    <div class="form-footer">
        <a href="{% url 'two_factor:login' %}">Back to Login</a>
    </div>
</div>
{% endblock %}
